
body
{
	background-color:#F9FAFB;
  padding-top:100px;
}

.up-navbar
{
  position:fixed;
  top:0;right:0;left:0;
  color:#ddd;
}
.uye-brand
{
  position:relative;
  max-width:720px;
  margin:0 auto;
  display:block;
  padding:18px;
  background-color:#2C2F6A;
}
.btn-krm
{
  background-color:#2c2f6a;
  color:#fff;
}
.b-img
{
  position:absolute;
  top:10px;right:9px;
  height:36px;
  width:36px;
}
.uye-nav
{
  background-color:#E1E3EB;
  padding-left:10px;
  max-width:720px;
  margin:0 auto
}
 a.uy-nav
 {
   border-right:1px solid #D5D5D5;
   display:inline-block;
   padding:10px 15px;
   color:#111;
 }
 a.uy-nav:last-child
 {
   border-right:none
 }
 a.uy-nav:hover
 {
   background-color:#fff;
   color:#444;
 }
 
#wrapper
{
  
  max-width:720px;
  margin:0 auto
 
 .sec-tanya
 {
   margin:10px 0;
   padding:10px;
   border-top:1px solid #ddd;
   box-shadow:1px 3px 5px #aaa;
 }
 
 textarea.t-tanya
 {
   border:none;
   padding:7px;
   color:#111;
   width:95%
 }
 
 textarea.t-tanya["placeholder"]
 {
   color:#ddd;
 }
 
 
 .yang-ditanya
 {
   margin:5px 0;
 }
 
 .sec-yang-ditanya-head
 {
   padding:7px 10px;
   font-weight:bold;
   color:#444;
   border-top:1px solid #6288C1;
   background-color:#F2F3F5;
 }
 .sec-yang-ditanya-body
 {
   font-size:12pt;
   display:block
 }
 
 .ditanya
 {
   box-shadow:1px 2px 3px #aaa;
   padding:10px;
 }
 .oleh
 {
   color:#666;
   padding:5px 0;
   font-size:10pt;
 }
 .oleh img
 {
   margin-right:5px
 }
 .nm
 {
   color:#111
 }
 a.pertanyaan
 {
   font-weight:bold;
   color:#111;
 }
 .single
 {
   padding:5px 2px;
   font-weight:normal;
   font-size:10pt;
   color:#111;
 }
 .s-head
 {
   font-size:14pt;
   font-weight:bold;
   text-align:center;
   margin-top:15px
 }
 #footer
 {
   margin-top:10px;
   border-top:1px solid #ddd;
   padding:20px 10px;
   background-color:#eee;
 }
